<template>
<h2>我是祖宗</h2>
<parent/>
</template>

<script>
import  parent from './components/icons/parent.vue'
export default{
 components:{
   parent
 } ,
 data(){
  return{
    message: "没做亏心事，不怕鬼敲门"
  }
 },
// provide:{
//   message:"我是死的信息"
// },
provide(){
   return{
      message: this.message
   }
}
}
</script>