<template>
<h2>我是页面</h2>
<p>{{message}}</p>
<button @click="updateHandle">我是按钮</button>
<ul>
 <li v-for="(value,index) in titles" :key="index">{{ value }}</li>
</ul>
</template>

<script>
/**
 * 生命周期： 
 * 1. 创建期：beforeCreate  created
 * 2. 挂载期：beforeMount  mounted. 挂载到mount上去
 * 3. 更新期：beforeUpdate updated 修改vue组件
 * 4. 销毁期: beforeUnmount unmounted 
 * 
 */

export  default{
     data(){
        return{
            message: "我是信息",
            titles:[]
        }
     },
     methods:{
        updateHandle(){
            //this.message = "哈哈哈"
        
        },
    },
    beforeCreate(){
        console.log("我是创建组件之前")
    },
    created(){
        console.log("创建完成")
    },
    beforeUpdate(){
        console.log("修改前")
    },
    beforeMount(){
        console.log("挂载组件之前")
    },
    mounted(){
        console.log("挂载之后")
        this.titles= [
                "我是电音之王",
                "我是电音之王",
                "我是电音之王"
            ]
    },
    updated(){
        console.log("修改后")
    },
    beforeUnmount(){
            console.log("卸载前")
    },
    beforeUnmount(){
            console.log("卸载后")
    }
    
}

</script>