<template>
 <h2>我是APP</h2>
    <!-- <KeepAlive> -->
        <component :is="currComponent">
        </component>
    <!-- </KeepAlive> -->
 <button @click="chageHandle">我是来切换</button>
</template>


<script>
import dymanicA  from './components/ComponetsDynamicA.vue'
import { defineAsyncComponent } from 'vue'

const dymanicB = defineAsyncComponent(()=>
import("./components/ComponetsDynamicB.vue")
)
export default{
    data(){
       return{
        currComponent: "dymanicA"
       }
    },
    methods:{
        chageHandle(){
            this.currComponent = this.currComponent == "dymanicA" ? "dymanicB" : "dymanicA" 
        }
    },
    components:{
        dymanicA,
        dymanicB
    }
}



</script>