
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />

<template>
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
  <div id="app">
    <el-button @click="visible = true">Button</el-button>
    <el-dialog :visible.sync="visible" title="Hello world">
      <p>Try Element</p>
    </el-dialog>
  </div>
</body>

</html>
</template>


<script>
import 'https://unpkg.com/vue@2/dist/vue.js' 
import 'https://unpkg.com/element-ui/lib/index.js'
  new Vue({
    el: '#app',
    data: function() {
      return { visible: false }
    }
  })
</script>