<template>
    <slot  name="top" :upMsg="upMsg"></slot>
    <h4>我是子页面</h4>
    <slot name="bottom"></slot>
</template>


<script>
export default{
    data(){
       return{
        upMsg:"等下还给我哦"
       }
    }
}
</script>