<template>
    <h4>我是使用页面</h4>
    <slotBase>
      <template #top="propsObj">
        <div class="my-div">
        <p>{{message}}: {{ propsObj.upMsg }}</p>
        </div>
      </template>
      <template #bottom>
        <div class="my-div">
        <p>{{bottomContent}}</p>
        </div>
      </template>
    </slotBase>
    </template>
    
    
    <script> 
    import slotBase from './Slot-Base.vue'
    export default{
        components:{
             slotBase
        },
        // 又在这报错了：data()
        data(){
            return{
                message: "我是林男生啊 ",
                bottomContent: "我是住一阵啊"
            }
        }
    }
    </script>
<style>
.my-div {  
  border: 2px solid black;  
  width: 500px;  
  height: 500px;  
}
</style>