<template>
 <h5>后代</h5>
 <p>{{fullMessage}}</p>
</template>
<!-- 

    provide 与inject 是从上向下传递，不能从下到上传递数据
 -->

<script>
export default{
    inject:["message"],
    data(){
        return{
            fullMessage: this.message
        }
    }
}
</script>