<template>
    <h3>父辈</h3>
    <p>{{globlData}}</p>
    <chiled/>
</template>

<script>
import chiled from './child.vue'
 export default{
    components:{
        chiled
    },
    inject:["globlData"]
 }

</script>